h1 {
  font-size: 50px;
  text-align: center;
  color: darkred;
}

body {
  background-image: url(assets/Photos/Background/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

h1 {
  color: darkgoldenrod;
  background: black;
  
  
}