@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1F618D;
}

li, a, button {
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}